@model road_to_asp.ViewModels.CustomersViewModel
@{
    ViewData["Title"] = "AllCustomers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Customers</h1>
<style>
    .block {cursor:pointer;}

    </style>

    <table id ="customers" class="table table-bordered table-hover">

        <thead>

            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
                <th>Discount Rate</th>
                <th>Delete</th>
            </tr>

        </thead>

        <tbody>

        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td class="block">
                    <a style="text-decoration:none; text-transform:capitalize" asp-action="Edit" asp-controller="Customers" asp-route-id="@customer.CustomerId">@customer.Name</a>
                </td>
                <td style="text-decoration:none">@customer.MembershipType.Name</td>
                <td>@customer.MembershipType.DiscountRate%</td>
                <td>
                    <button data-customer-id = "@customer.CustomerId" class =" btn-link js-delete">Delete</button>
                </td>
            </tr>
        }
        </tbody>
    </table>


   @section scripts {
<script>

    $(document).ready(function () {
        $("#customers .js-delete").on("click", function () {
            var button = $(this);
            if (confirm("Are you sure?")) {
                $.ajax({
                    url:"/api/customers/" + button.attr("data-customer-id"),
                    method:"DELETE",
                    success: function (){
                        button.parents("tr").remove();
                    }
                })
            }
        })
    })
</script>
   }